<div>
    <div style="position: relative; width: 100%; padding-top: 56.25%">
        <iframe
            allowfullscreen="true"
            style="position:absolute;top:0;left:0;width:100%;height:100%;"
            {% if muted %}
            src="https://video.polymny.studio/index2.html?v={{id}}/&m"
            {% else %}
            src="https://video.polymny.studio/index2.html?v={{id}}/"
            {% endif %}
            {% if title %}title="{{ title }}"{% endif %}
        >
        </iframe>
    </div>
</div>
