{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-8 is-offset-2">
                <div class="content has-text-justified">
                    <h1 class="title is-1">La page que vous demandez n'a pas été trouvée</h1>
                    <p><a href="/">Revenir à l'accueil</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
