<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ get_url(path="img/favicon.png") | safe }}"/>
        <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        {% block extracss %}{% endblock extracss %}
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    </head>
    <body class="layout-documentation page-components has-background-white-ter">
        <nav class="navbar is-success" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item is-size-4" href="{{ config.base_url | safe }}">
                        <img class="mr-1" src="{{ get_url(path="img/favicon.png") | safe }}">
                        <strong>{{ config.title }}</strong>
                    </a>
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navbarBasicExample">
                    <div class="navbar-end">
                        <a class="navbar-item is-size-6" href="{{ get_url(path="@/actualites/_index.md") | safe }}">
                            <strong>Actualités</strong>
                        </a>
                        <a class="navbar-item is-size-6" href="{{ get_url(path="@/tutoriels.md") | safe }}">
                            <strong>Tutoriels</strong>
                        </a>
                        <a class="navbar-item is-size-6 mr-6" href="{{ get_url(path="@/notes-de-versions/_index.md") | safe }}">
                            <strong>Nouveautés</strong>
                        </a>
                        <div class="buttons">
                            <a class="navbar-item is-size-6 button is-rounded" href="{{ config.extra.polymny_url | safe }}">
                            <strong>Ouvrir Polymny</strong>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock content %}
        {% block footer %}{% endblock footer %}

        <footer class="section hero is-dark">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-desktop">
                        <div class="column is-6 is-offset-1">
                            <h6 class="title is-6 has-text-success">À propos</h6>
                            <p>Polymny est un logiciel écrit en <a href="https://www.rust-lang.org/">Rust</a> et <a href="https://elm-lang.org/">Elm</a>.</p>
                            <p>Développé par Thomas Forgione, Nicolas Bertrand, Axel Carlier et Vincent Charvillat.</p>
                        </div>
                        <div class="column is-2">
                            <h6 class="title is-6 has-text-success">Contact</h6>
                            <ul>
                                <li><a href="mailto:contacter@polymny.studio">contacter@polymny.studio</a></li>
                            </ul>
                        </div>
                        <div class="column is-2">
                            <h6 class="title is-6 has-text-success">Ressources</h6>
                            <ul>
                                <li><a href="{{ get_url(path="@/cgu.md") | safe }}">Conditions d'utilisation</a></li>
                                <li><a href="{{ get_url(path="@/cgu.md") | safe }}#article-3-collecte-des-donnees">Données personnelles</a></li>
                                <li><a href="https://github.com/polymny/polymny/blob/master/LICENSE">License GNU Affero V3</a></li>
                                <li><a href="https://github.com/polymny/polymny/">Code source</a></li>
                                <li><a href="{{ get_url(path="@/tutoriels.md") | safe }}">Tutoriels</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
                if ($navbarBurgers.length > 0) {
                    $navbarBurgers.forEach( el => {
                        el.addEventListener('click', () => {
                            const target = el.dataset.target;
                            const $target = document.getElementById(target);
                            el.classList.toggle('is-active');
                            $target.classList.toggle('is-active');
                        });
                    });
                }
            });
        </script>
    </body>
</html>
