{% extends "base-catalan.html" %}
{% import "macros/partner.html" as partner %}

{% set alternate = true %}

{% block extracss %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
<style>
@media only screen and (max-width: 1024px) {
    .hero-head {
        margin: 75%;
    }

    .hide-mobile {
        display: none;
    }

    .stamp-mobile {
        position: relative;
    }

    .stamp-mobile::before {
        content: "";
        background: url('/img/stamp.webp');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: right -10% top 50%;
        position: absolute;
        opacity: 0.025;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
</style>
{% endblock extracss %}

{% block content %}

<section class="section hero stamp-mobile">
    <div class="hero-body container">
        <div class="columns is-desktop is-vcentered">
            <div class="column is-6">
                <h1 class="title is-spaced is-1">Polymny Studio</h1>
                <h2 class="subtitle is-3">L'estudi web per a formadors que creen, editen i gestionen vídeos d'educació</h2>
                <p class="subtitle">
                A partir d'una presentació existent (libre office, powerpoint, beamer, etc.), proporcioneu les vostres
                diapositives en PDF i enregistreu un vídeo educatiu per als vostres alumnes, estudiants, clients o
                companys.
                </p>
                <div class="has-text-centered">
                    {% include "loginform-catalan.html" %}
                </div>
            </div>
            <div class="column is-4 is-offset-2">
                <img class="hide-mobile" src="/img/favicon.webp" alt="Polymny Logo">
            </div>
        </div>
    </div>
</section>

<section class="section hero is-polymny" style="overflow: hidden;">
    <div class="hero-body container">
        <div class="columns is-desktop is-centered">
            <div class="column is-3 has-text-centered">
                {% set image = resize_image(path="../static/img/agpl.png", height=64, op="fit_height", format="webp") %}
                <img style="height: 64px; margin: 16px; filter: invert(1);" src="{{ image.url }}" alt="License AGPLv3">
                <h6 class="title is-6 is-polymny">Programari lliure</h6>
                <p class="is-size-6">
                Polymny Studio és programari lliure i es pot utilitzar de forma gratuïta, només cal que creeu un compte
                per començar a crear els vostres vídeos.
                </p>
            </div>

            <div class="column is-3 has-text-centered">
                {% set image = resize_image(path="../static/img/portability.png", height=64, op="fit_height", format="webp") %}
                <img style="height: 64px; margin: 16px; filter: invert(1);" src="{{ image.url }}" alt="Windows, MacOS et Linux">
                <h6 class="title is-6 is-polymny">Portabilitat</h6>
                <p class="is-size-6">
                Polymny Studio funciona amb Windows, MacOS i Linux, un simple navegador, Firefox o Chrome, n'hi ha prou
                per crear els teus vídeos.
                </p>
            </div>

            <div class="column is-3 has-text-centered">
                {% set image = resize_image(path="../static/img/pdf.png", height=64, op="fit_height", format="webp") %}
                <img style="height: 64px; margin: 16px; filter: invert(1);" src="{{ image.url }}" alt="Fichier PDF">
                <h6 class="title is-6 is-polymny">Diapositives PDF</h6>
                <p class="is-size-6">
                Utilitzeu la vostra eina preferida per preparar el vostre contingut, exportar en format PDF i
                registrar-vos a Polymny Studio.
                </p>
            </div>

            <div class="column is-3 has-text-centered">
                {% set image = resize_image(path="../static/img/play.png", height=64, op="fit_height", format="webp") %}
                <img style="height: 64px; margin: 16px; filter: invert(1);" src="{{ image.url }}" alt="Bouton de lecture vidéo">
                <h6 class="title is-6 is-polymny">Producció automàtica</h6>
                <p class="is-size-6">
                Baixeu el vostre vídeo final en format MP4 o publiqueu-lo directament al servidor de streaming de
                Polymny Studio.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="hero is-large has-carousel">
    <div id="features" class="hero-carousel">
        <div class="columns is-vcentered is-desktop is-polymny-2 m-0" style="height: 100%">
            <div class="column">
                <h2 class="title is-3">Compartint càpsules</h2>
                <p>
                No es requereix cap experiència tècnica, ni edició, ni compressió, ni manipulació digital de vídeos. Les
                càpsules s'emmagatzemen i es publiquen automàticament en línia en un servidor de vídeo. S'hi accedeix
                mitjançant un enllaç web (url) que es pot compartir per correu electrònic o missatge de text, a les
                xarxes socials o en qualsevol plataforma de formació (moodle, 360, etc.). La figura de l'esquerra mostra
                vídeos de polimnies compartits a Moodle.
                </p>
            </div>
            <div class="column">
                {% set image = resize_image(path="../static/img/moodle.png", width=500, op="fit_width", format="webp") %}
                <img src="{{ image.url }}" alt="Vidéo Polymny dans Moodle" style="width: 100%">
            </div>
        </div>
        <div class="columns is-vcentered is-desktop is-polymny-yellow m-0" style="height: 100%">
            <div class="column">
                <h2 class="title is-3">Registre fàcil</h2>
                <p>
                A diferència del programari de gravació de pantalla, Polymny orienta i facilita l'enregistrament de
                comentaris de vídeo (amb la càmera web) o comentaris d'àudio (amb el micròfon de l'ordinador). El
                registre es fa simplement des d'un navegador web.
                </p>
            </div>
            <div class="column">
                {% set image = resize_image(path="../static/img/recording.png", width=500, op="fit_width", format="webp") %}
                <img src="{{ image.url }}" alt="Écran d'enregistrement" style="width: 100%">
            </div>
        </div>
        <div class="columns is-vcentered is-desktop is-polymny-2 m-0" style="height: 100%">
            <div class="column">
                <h2 class="title is-3">4 passos</h2>
                <p>
                El protocol Polymny es basa en 4 passos: preparar (utilitzar o no utilitzar el teleprompter), filmar
                (possiblement limitar-se al so), produir (col·locar els mitjans segons diferents patrons) i publicar
                (aconseguir l'enllaç per compartir sense cap esforç tècnic). ).
                </p>
            </div>
            <div class="column">
                {% set image = resize_image(path="../static/img/bigpicture.png", width=500, op="fit_width", format="webp") %}
                <img src="{{ image.url }}" alt="Fonctionnement en 4 étapes de Polymny" style="width: 100%">
            </div>
        </div>
        <div class="columns is-vcentered is-desktop is-polymny-yellow m-0" style="height: 100%">
            <div class="column">
                <h2 class="title is-3">Gestionar les càpsules</h2>
                <p>
                No es malgasta cap minut d'enregistrament, cada esforç es pot modificar i reutilitzar més tard: com al
                cinema, pots multiplicar les “presas” per satisfer el director (tu!). Ja no enregistres la teva pantalla
                sinó que gestiones els teus projectes de càpsula de vídeo, d'un any a l'altre, d'una classe a una altra,
                d'una versió inicial a la següent millora! La interfície de Polymny mostra 3 projectes d'usuari: 3
                seqüències educatives cadascuna de les quals inclou diverses càpsules de vídeo, algunes de les quals
                estan en preparació i encara no s'han finalitzat. La gestió de cada càpsula com a projecte permet la
                intervenció d'enginyers pedagògics o comunicadors en la fase de preparació dels recursos pedagògics:
                alineació pedagògica, ajust de la durada del missatge o la claredat del vídeo.
                </p>
            </div>
            <div class="column">
                {% set image = resize_image(path="../static/img/management.png", width=500, op="fit_width", format="webp") %}
                <img src="{{ image.url }}" alt="Gestion des projets et capsules" style="width: 100%">
            </div>
        </div>
        <div class="columns is-vcentered is-desktop is-polymny-2 m-0" style="height: 100%">
            <div class="column">
                <h2 class="title is-3">Vídeos addicionals</h2>
                <p>
                Entre les funcions populars, Polymny us permet inserir, en lloc d'una diapositiva, qualsevol vídeo
                extern (captures dels vostres escrits a tauletes per a professors, vídeos o captures de pantalla des
                d'un telèfon intel·ligent, clips lliures de drets importats d'Internet). La il·lustració següent mostra
                un jingle de vídeo (una animació) inserit com a crèdits d'un vídeo d'entrenament. Polymny és utilitzat
                amb èxit pels formadors en l'àmbit públic (universitats, instituts, MOOC FUN) i privat (organitzacions
                de formació professional).
                </p>
            </div>
            <div class="column">
                {% set image = resize_image(path="../static/img/addresource.png", width=500, op="fit_width", format="webp") %}
                <img src="{{ image.url }}" alt="Ajout de ressources externes" style="width: 100%">
            </div>
        </div>
        <div class="columns is-vcentered is-desktop is-polymny-yellow m-0" style="height: 100%">
            <div class="column content">
                <h2 class="title is-3">Funcions avançades</h2>
                <p>
                Les funcions avançades estan disponibles com a serveis addicionals i opcionals. Si la teva càpsula, ja
                preparada i prototipada al web, mereix una versió professional, l'equip de Polymny t'ofereix:
                <ul>
                    <li>
                        serveis de producció en estudis audiovisuals virtuals (clau, teclejat/matting per deeplearning,
                        generació gràfica de fons i primer pla dinàmics, punters, plantilles d'edició personalitzades,
                        sistema de recomanació per a l'edició gramatical),
                    </li>
                    <li>
                        serveis de producció en estudis físics accessibles mitjançant reserva (tecla i tecles de
                        pantalla verda, múltiples càmeres i plans, so d'alta qualitat, escenaris de diàleg
                        multimicròfon, pre/postproducció).
                    </li>
                </ul>
                </p>
            </div>
            <div class="column">
                {% set image = resize_image(path="../static/img/studio.jpg", width=500, op="fit_width", format="webp") %}
                <img src="{{ image.url }}" alt="Enregistrement en studio fond vert" style="width: 100%">
            </div>
        </div>
    </div>
    <div class="hero-head"></div>
    <div class="hero-body has-text-centered">
    </div>
</section>

<script>
    bulmaCarousel.attach('#features', {
        loop: true,
        autoplay: true,
        autoplaySpeed: 20000,
        duration: 1000,
    });
</script>

<section class="section hero is-polymny stamp">
    <div class="hero-body">
        <div class="columns is-desktop">
            <div class="column is-8 is-offset-2 content has-text-centered">
                <div>
                    <div style="position: relative; width: 100%; padding-top: 56.25%">
                        <iframe
                            allowfullscreen="true"
                            style="position:absolute;top:0;left:0;width:100%;height:100%;"
                            src="https://video.polymny.studio/index2.html?v=6c5e5a9d-578e-4bd8-a45b-52ef08086e3b/&m"
                            title="Présentation de Polymny Studio"
                        >
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section hero">
    <div class="has-text-centered">
        Polymny Studio prové d'un programa de premaduració de la regió d'Occitània.
    </div>
    <div class="has-text-centered">
        Continua amb un programa de maduració de Toulouse Tech Transfer el 2022.
    </div>

    <div class="columns is-mobile is-multiline is-vcentered is-centered">
        {{ partner::logo(img="/img/partners/regionoccitanie.webp", url="https://www.laregion.fr", alt="Logo Région Occitanie") }}
        {{ partner::logo(img="/img/partners/ttt.webp", url="https://www.toulouse-tech-transfer.com", alt="Logo TTT") }}
    </div>
    <div class="columns is-mobile is-multiline is-vcentered is-centered">
        {{ partner::logo(img="/img/partners/euroregio.png", url="https://www.euroregio.eu/", alt="Logo EuroRegio") }}
    </div>

    <div class="column is-8 is-offset-2 has-text-centered">
        Actors, usuaris i simpatitzants:
    </div>

    <div class="columns is-mobile is-multiline is-vcentered is-centered">
        {{ partner::logo(img="/img/partners/irit.webp", url="https://www.irit.fr", alt="Logo IRIT") }}
        {{ partner::logo(img="/img/partners/cepfor.webp", url="https://www.cepfor.com", alt="Logo CEPFOR") }}
        {{ partner::logo(img="/img/partners/ceresa.webp", url="http://www.ceresa.fr", alt="Logo CERESA") }}
        {{ partner::logo(img="/img/partners/dyp.webp", url="https://www.inp-toulouse.fr/fr/toulouse-inp/dynamique-pedagogique.html", alt="Logo DYP") }}
        {{ partner::logo(img="/img/partners/uft.webp", url="https://www.univ-toulouse.fr", alt="Logo UFT") }}
        {{ partner::logo(img="/img/partners/inp.webp", url="https://www.inp-toulouse.fr", alt="Logo INPT") }}
        {{ partner::logo(img="/img/partners/n7.webp", url="https://www.enseeiht.fr", alt="Logo ENSEEIHT") }}
        {{ partner::logo(img="/img/partners/ut2j.webp", url="https://www.univ-tlse2.fr", alt="Logo UT2J") }}
        {{ partner::logo(img="/img/partners/inrae.webp", url="https://www.inrae.fr", alt="Logo INRAE") }}
        {{ partner::logo(img="/img/partners/ticeeducation.webp", url="https://www.tice-education.fr", alt="Logo Tice Education") }}
    </div>
</section>

{% endblock content %}
