<div id="loggedin" style="display: none;">
    <a class="button is-rounded is-polymny" href="{{ config.extra.polymny_url | safe }}"><strong>Ouvrir Polymny</strong></a>
</div>

<form id="login" style="display: none;">
    <div id="loginnotification" style="display:none;" class="notification is-danger has-text-left"></div>
    <div class="field is-grouped is-grouped-centered">
        <div class="columns is-desktop">
            <div class="column is-narrow p-2"><input class="input" type="text" id="loginusername" placeholder="Nom d'utilisateur" required></div>
            <div class="column is-narrow p-2"><input class="input" type="password" autocomplete="current-password" id="loginpassword" placeholder="Mot de passe" required></div>
            <div class="column is-narrow p-2"><button type="submit" class="button is-rounded is-polymny" value="Ouvrir Polymny" id="loginbutton"><strong>Ouvrir Polymny</strong></button></div>
        </div>
    </div>
    <div class="field is-grouped is-grouped-centered">
        <div class="control"><a id="opennewpassword" href="#" onclick="return false;">Mot de passe oublié ?</a></div>
        {% if not config.extra.disable_registration %}
            <div class="control"><a id="opensignup" href="#" onclick="return false;">Pas encore inscrit ?</a></div>
        {% endif %}
</div>
</form>

<form id="hiddenform" action="{{ config.extra.polymny_url | safe }}login" style="display: none;" method="POST">
    <input id="hiddenusername" type="text" name="username">
    <input id="hiddenpassword" type="password" name="password">
</form>

<form id="newpassword" class="form" style="display: none;">
    <div id="newpasswordsuccess" style="display:none;" class="notification is-polymny has-text-left">
        Un e-mail contenant un lien permettant de réinitialiser votre mot de passe vous a été envoyé.
    </div>
    <div id="newpasswordnotification" style="display:none;" class="notification is-danger has-text-left">Une erreur inconnue s'est produite</div>
    <div class="field is-grouped is-grouped-centered">
        <p class="control">
            <input id="newpasswordemail" class="input" type="email" placeholder="Adresse e-mail" required>
        </p>
        <p class="control">
            <button id="newpasswordbutton" type="submit" class="button is-polymny is-rounded"><strong>Réinitialiser</strong></button>
        </p>
    </div>
</form>

{% if not config.extra.disable_registration %}
<form class="form" id="signup" style="display: none;">
    <div id="signupsuccess" style="display:none;" class="notification is-polymny has-text-left">
        Inscritpion terminée ! Un mail contenant un lien permettant de valider votre inscription vous a été envoyé.
    </div>
    <div id="signupnotification" style="display:none;" class="notification is-danger has-text-left">
        <div>Il y a des erreurs dans le formulaire : <div id="signupnotificationcontent"></div></div>
    </div>
    <div class="field">
        <p class="control">
            <input id="signupusername" class="input" type="text" placeholder="Nom d'utilisateur" required>
        </p>
    </div>
    <div class="field">
        <p class="control">
            <input id="signupemail" class="input" type="email" placeholder="Adresse e-mail" required>
        </p>
    </div>
    <div class="field">
        <p class="control">
            <input id="signuppassword" class="input" type="password" placeholder="Mot de passe" autocomplete="new-password" required>
        </p>
    </div>
    <div class="field">
        <p class="control">
            <input id="signuppasswordconfirmation" class="input" type="password" autocomplete="new-password" placeholder="Retapez votre mot de passe" required>
        </p>
    </div>
    <div class="field has-text-left">
        <label class="checkbox">
            <input id="signupaccept" checked=false type="checkbox" class="mr-1">J'ai lu les <a href="/cgu/">conditions d'utilisation</a> et les accepte
        </label>
    </div>
    <div class="field has-text-left">
        <label class="checkbox">
            <input id="signupsubscribed" checked=true type="checkbox" class="mr-1">Je m'inscris à la newsletter de Polymny Studio
        </label>
    </div>
    <div class="field">
        <p class="control">
            <button id="signupbutton" type="submit" class="button is-polymny is-rounded"><strong>S'inscrire</strong></button>
        </p>
    </div>
</form>
{% endif %}

<script>
    function testCookie() {
        return document.cookie.match(/^(.*;)?\s*EXAUTH2\s*=\s*[^;]+(.*)?$/);
    }

    function isAllowed(c) {
        let regex = /^[0-9a-zA-Z_-]+$/;
        return c.match(regex);
    }

    function toUl(list) {
        let content = "<ul>"
        for (let child of list) {
            content += "<li>" + child + "</li>";
        }
        return content + "</ul>";
    }

    function testUsername(u) {
        let errored = [];
        for (let c of u) {
            if (!isAllowed(c)) {
                errored.push(c);
            }
        }

        return errored;
    }

    function testEmail(email) {
        let split = email.split("@");

        if (split.length !== 2) {
            return false;
        }

        if (split[0].length === 0) {
            return false;
        }

        split = split[1].split('.');

        if (split.length < 2) {
            return false;
        }

        if (split[0].length === 0) {
            return false;
        }

        if (split[1].length === 0) {
            return false;
        }

        return true;
    }

    function signUp() {
        signUpButton.classList.add("is-loading");
        signUpButton.disabled = true;

        let xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if (xhr.readyState === xhr.DONE) {
                if (xhr.status === 200) {
                    signUpSuccess.style.display = "block";
                } else if (xhr.status === 404) {
                    signUpNotificationContent.innerHTML = toUl(["Ce nom d'utilisateur ou cette adresse e-mail est déjà utilisée"]);
                    signUpNotification.style.display = "block";
                    signUpButton.disabled = false;
                } else {
                    signUpNotificationContent.innerHTML = toUl(["Une erreur inconnue s'est produite"]);
                    signUpNotification.style.display = "block";
                    signUpButton.disabled = false;
                }
                signUpButton.classList.remove('is-loading');
            }
        };

        xhr.open('POST', '{{ config.extra.polymny_url | safe }}api/new-user/');

        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.send(JSON.stringify({
            username: signUpUsername.value,
            email: signUpEmail.value,
            password: signUpPassword.value,
            subscribed: signUpSubscribed.checked,
        }));
    }

    let loginForm = document.getElementById('login');
    let loginUsername = document.getElementById('loginusername');
    let loginPassword = document.getElementById('loginpassword');
    let loginButton = document.getElementById('loginbutton');
    let loginNotification = document.getElementById('loginnotification');

    let hiddenForm = document.getElementById('hiddenform');
    let hiddenUsername = document.getElementById('hiddenusername');
    let hiddenPassword = document.getElementById('hiddenpassword');

    loginForm.onsubmit = function(event) {
        event.preventDefault();

        loginButton.classList.add("is-loading");
        loginButton.disabled = true;

        let xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if (xhr.readyState === xhr.DONE) {
                if (xhr.status === 200 || xhr.status === 202) {
                    // Redirect to /login
                    hiddenUsername.value = loginUsername.value;
                    hiddenPassword.value = loginPassword.value;
                    hiddenForm.submit();
                } else if (xhr.status === 401) {
                    loginNotification.innerHTML = "Nom d'utilisateur ou mot de passe incorrect";
                    loginNotification.style.display = "block";
                    loginButton.disabled = false;
                    loginButton.classList.remove('is-loading');
                } else {
                    loginNotification.innerHTML = "Une erreur inconnue s'est produite";
                    loginNotification.style.display = "block";
                    loginButton.disabled = false;
                    loginButton.classList.remove('is-loading');
                }
            }
        };

        xhr.open('POST', '{{ config.extra.polymny_url | safe }}login/');

        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send("username=" + loginUsername.value + "&password=" + loginPassword.value);
    }

    {% if not config.extra.disable_registration %}
    let signUpForm = document.getElementById('signup');
    let signUpUsername = document.getElementById('signupusername');
    let signUpEmail = document.getElementById('signupemail');
    let signUpPassword = document.getElementById('signuppassword');
    let signUpPasswordConfirmation = document.getElementById('signuppasswordconfirmation');
    let signUpAccept = document.getElementById('signupaccept'); signUpAccept.checked = false;
    let signUpSubscribed = document.getElementById('signupsubscribed'); signUpSubscribed.checked = true;
    let signUpNotification = document.getElementById('signupnotification');
    let signUpNotificationContent = document.getElementById('signupnotificationcontent');
    let signUpSuccess = document.getElementById('signupsuccess');
    let openSignUp = document.getElementById('opensignup');
    let signUpButton = document.getElementById('signupbutton');

    signUpForm.onsubmit = function(event) {
        event.preventDefault();
        let errorMessages = [];

        // Test username
        let errors = testUsername(signUpUsername.value);
        errorMessages.push(...errors.map((x) => "Le caractère \"" + x + "\" n'est pas accepté dans les noms d'utilisateurs"));
        if (signUpUsername.length < 3) {
            errorMessages.push("Le nom d'utilisateur doit faire plus de 3 caractères");
        }

        // Test passwords
        if (signUpPassword.value !== signUpPasswordConfirmation.value) {
            errorMessages.push("Les deux mots de passe ne correspondent pas");
        }

        // Test email
        if (!testEmail(signUpEmail.value)) {
            errorMessages.push("L'adresse e-mail est incorrecte");
        }

        // Check terms and conditions
        if (!signUpAccept.checked) {
            errorMessages.push("Vous devez accepter les conditions d'utilisation");
        }

        if (errorMessages.length > 0) {
            signUpNotificationContent.innerHTML = toUl(errorMessages);
            signUpNotification.style.display = "block";
            return;
        } else {
            signUpNotification.style.display = "none";
        }


        // Send sign up request
        signUp();
    };

    openSignUp.addEventListener('click', function() {
        document.getElementById('loggedin').style.display = "none";
        document.getElementById('login').style.display = "none";
        document.getElementById('signup').style.display = "block";
        openSignUp.style.display = "none";
        openNewPassword.style.display = "none";
    });

    {% endif %}

    let openNewPassword = document.getElementById('opennewpassword');
    let newPasswordForm = document.getElementById('newpassword');
    let newPasswordButton = document.getElementById('newpasswordbutton');
    let newPasswordEmail = document.getElementById('newpasswordemail');
    let newPasswordNotification = document.getElementById('newpasswordnotification');
    let newPasswordSuccess = document.getElementById('newpasswordsuccess');

    newPasswordForm.onsubmit = function() {
        event.preventDefault();
        newPasswordButton.classList.add("is-loading");
        newPasswordButton.disabled = true;

        let xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if (xhr.readyState === xhr.DONE) {
                if (xhr.status === 200) {
                    newPasswordSuccess.style.display = "block";
                } else {
                    newPasswordNotification.style.display = "block";
                    newPasswordButton.disabled = false;
                }
                newPasswordButton.classList.remove('is-loading');
            }
        };

        xhr.open('POST', '{{ config.extra.polymny_url | safe }}api/request-new-password/');

        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.send(JSON.stringify({
            email: newPasswordEmail.value,
        }));
    };

    openNewPassword.addEventListener('click', function() {
        document.getElementById('loggedin').style.display = "none";
        document.getElementById('login').style.display = "none";
        document.getElementById('newpassword').style.display = "block";
        {% if not config.extra.disable_registration %}
        openSignUp.style.display = "none";
        {% endif %}
        openNewPassword.style.display = "none";
    });

    if (testCookie()) {
        document.getElementById('loggedin').style.display = "block";
    } else {
        document.getElementById('login').style.display = "block";
    }
</script>
