{% extends "base.html" %}

{% if page.title %}
    {% block title %}
        {{ config.title }} - {{ page.title }}
    {% endblock title %}
{% endif %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-8 is-offset-2">
                <div class="content">
                    {% block innercontent %}
                    {{ page.content | safe }}
                    {% endblock innercontent %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
